{% include 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <title>Story 9</title>
</head>
<body>
    {% block content %}
    <h1 class="sapa">Search Your Books!</h1>

    <!--Search Box-->
    <div class="d-flex justify-content-center">
        <div class="input-group flex-nowrap">
            <div class="input-group-prepend">
              <span class="input-group-text" id="addon-wrapping">Keyword</span>
            </div>
            <input type="text" class="form-control inputme" placeholder="Tulis disini..." 
                 aria-describedby="addon-wrapping">
            <button type="button" id="cari" class="btn btn-success">Search</button>
        </div>
    </div>
    <br>

    <!-- Button Modal -->
    <div class="d-flex justify-content-center">
    <button type="button" id="modal" class="btn btn-info" onclick="modal()"
    data-toggle="modal" data-target="#exampleModalCenter">Buku Terpopuler!</button>
    </div>
    
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Buku Terpopuler</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- tampilan top buku-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
    </div>

    <!--Tabel-->
    <div class="hasil-search">
        <table class="table">
            <thead class="thead-dark">
              <tr class="tengah">
                <th scope="col">Sampul Buku</th>
                <th scope="col">Judul</th>
                <th scope="col">Penerbit</th>
                <th scope="col">Rerata Rating</th>
                <th scope="col">Vote Me!</th>
              </tr>
            </thead>
            <tbody>
                <!--Hasil Search-->
            </tbody>
        </table>
    </div>
    {% endblock %}

<script src="{% static 'search.js' %}"></script>
</body>
</html>